###############################################################################
# begin requirements from: requirements.txt

-e .[dev]

# end requirements from: requirements.txt
###############################################################################
